<% @places.each do |place| %>
    <div class="container">
        <div class="booyah-box">
            <h1><%= link_to place.name, place_path(place) %></h1>
            <br />
            <i><%= place.address %></i>
            <br />
            <p><%= place.description %></p>
            <br />
            <% if place.user.present? %>
                <small><%= place.user.email %></small>
            <% end %>
        </div>
    </div>
<% end %>

<div class="container">
    <%= will_paginate @places %>
</div>